@model WebApplication2Crud.Models.Credential

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>

<body>
    <h1>Enter Details to Login</h1>


    @using (Html.BeginForm("Authenticate", "Credential"))
    {

        @ViewBag.message;


        <hr />
        <table>
            <tr>
                <td>
                    @Html.LabelFor(x => x.UserName)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.UserName)
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(x => x.Password)
                </td>
                <td>
                    @Html.PasswordFor(x => x.Password)
                </td>
            </tr>





        </table>


        <input type="submit" class="btn btn-success" value="LogIn" />
        <button type="button" class="btn btn-success" onclick="window.location= '@Url.Action("SignUp", "Credential")'">Sign Up </button>
    }

</body>
</html>


